.list {
	list-style: none;
	margin: 1rem 0px;
	padding: 0px;

	}

	.list > li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		flex: auto;
		padding: .2rem;

		border-radius: var(--radius);

		cursor: pointer;
		}

		.list > li:hover {
			box-shadow: 0px 0px var(--line-weight) var(--color-middle);
	}

	.list div {
		display: flex;
		align-items: center;
		gap: .5rem;
	}

	.list button {
		margin: 0px;

		background-color: var(--color-light);
		color: var(--color-dark);

		box-shadow: 0px 0px var(--line-weight) var(--color-dark);
		}

		.list button:active {
			background-color: var(--color-middle);
			color: var(--color-light);
		}

	.list input {
		box-shadow: none;
}

.danger:hover {
	background-color: var(--color-error);
	color: var(--color-light);
}

.highlighted {
	background-color: var(--color-primary);
	color: var(--color-light);
}