.logo {
	display: inline-block;
	align-items: center;

	font-family: var(--display-font);
	font-weight: bolder;
	}

	.logo:hover ::after{
		content: ' 🌱';
		white-space: nowrap;
	}

	.dark .logo {
		color: var(--color-light);
	}
	