.popUpInner {
	position: relative;
	padding: 2rem;
	border-radius: var(--radius);

	margin: 2rem;

	background-color: var(--color-light);

	animation: .4s running grow;
	}

	.dark .popUpInner {
		background-color: var(--color-dark);
}