.popUpInner {
	position: relative;
	padding: 2rem;
	border-radius: var(--radius);
	max-width: 1024px;
	margin: 2rem;

	color: var(--module-font-color);
	background-color: var(--module-bg-color);
	}

	.popUpInner :global {
		animation: .4s running grow;
	}

.confirmationButton {
	max-width: 1024px;
}