.popUp {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

	z-index: 9999;

	background-color: var(--color-middle);

	animation: .4s running fade-in;
}

.popUpInner {
	position: relative;
	padding: 2rem;
	border-radius: var(--radius);

	margin: 2rem;

	background-color: var(--color-light);

	animation: .4s running grow;
	}

	.dark .popUpInner {
		background-color: var(--color-dark);
}