.popUpInner {
	position: relative;
	padding: 2rem;
	border-radius: var(--radius);
	max-width: 1024px;
	margin: 2rem;
	background-color: var(--color-light);
	}

	.popUpInner :global {
		animation: .4s running grow;
	}

	.dark .popUpInner {
		background-color: var(--color-dark);
}

.confirmationButton {
	max-width: 1024px;
}