.categories {
	width: 20rem;
	font-weight: 500;
}

.navBar {
	margin: 0px 0px;
	padding: .5rem 1.2rem;
	
	border-bottom: var(--line-weight) solid var(--color-middle);

	position: sticky;
	top: 0;
	z-index: 9999;

	background-color: var(--color-light);

	transition: .4s background-color;
}

.dark .navBar {
	background-color: var(--color-dark);
	color: var(--color-light);
}