html {
	--color-primary: #2a7;
	--color-secondary: #46c;
	--color-error: #e25;
	--color-light: #eeefef;
	--color-middle: #aaaab044;
	--color-dark: #111318;

	--line-weight: 2px;
	--radius: 4px;

	--display-font: 'Fredoka One', sans-serif;
	--body-font: 'Rubik', sans-serif;

	font-family: var(--body-font);
}

body {
	height: 100vh;
	margin: 0px;

	color: var(--color-dark);
	
	background-image: url('/plant-background.jpg');
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: cover;
	
  background-repeat: no-repeat;
	
	/* This makes the magic happen */
	background-color: #fff;
	background-blend-mode: difference;
	transition: background-color ease-in-out 3s, color ease-in-out 1s 1.5s;
}

/* Dark mode */
.dark > body {
	background-color: #000;
	color: var(--color-light);
}

main {
	margin-top: 1rem;
}

p {
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--display-font);
	font-weight: 500;
}

h1 {
	font-size: 1.6rem;
	margin-bottom: .4rem;
}

a,
	a:visited {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		color: var(--color-primary);
}

.button, button {
	height: 2.5rem;
	padding: 0 1rem 0 1rem;

	white-space: nowrap;
	
	background-color: inherit;
	color: inherit;

	font-family: var(--body-font);
	font-weight: bold;

	border: var(--line-weight) solid var(--color-middle);
	border-radius: var(--radius);
	
	user-select: none;
	cursor: pointer;
}

.button { /* Class to simulate button's appearance */
  display: inline-block;
	
	text-align: center;
	text-anchor: middle;
  text-decoration: none;
	vertical-align: center;
}

.button:hover, button:hover {
	border: var(--line-weight) solid var(--color-primary);
	color: var(--color-primary)
	}

	.button:active, button:active {
		border: var(--line-weight) solid var(--color-secondary);
		background-color: var(--color-light);
		color: var(--color-secondary);
}

input {
	padding: 0px;
	min-width: 2.5rem;
	height: 2.5rem;
	margin: .1rem;
	
	background-color: var(--color-middle);
	color: var(--color-dark);
	border-radius: var(--radius);
	border: none;

	font-family: var(--body-font);
	}

	input[type='text'] {
		width: 100%;
		padding-left: 1rem;
	}

	.dark input[type='text'] {
		color: var(--color-light);
}

.container {
	margin: 0px;
	padding: 0px min(10rem, 10%);
}

/* Generic classes */

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gap {
	gap: .2rem;
}

.fullWidth {
	width: 100%;
}

.halfWidth {
	width: max(50%, 32rem);
}

.noMargin {
	margin: 0;
}

.title {
	margin-top: .6rem;
}

.clickable {
	z-index: 99;
}

.danger:hover {
	border-color: var(--color-error);
	color: var(--color-error);
}

span .danger {
	color: var(--color-error);
}

.borderless {
	border-color: transparent;
}

.outsideLink::after {
	content:' ↗️';
}