html {
	--color-primary: #2a7;
	--color-secondary: #246;
	--color-error: #e25;
	--color-light: #fff;
	--color-middle: #889;
	--color-dark: #112;

	--line-weight: 2px;
	--radius: 4px;

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	height: 100vh;
	margin: 0px;

	background-color: var(--color-light);
	color: var(--color-dark);

	background-image: url('/plant.png');
  background-position: max(10%, 110%) max(10% + 5rem, 110%);
  background-repeat: no-repeat;

	transition: background-color .5s;
}

main {
	margin-top: 3rem;
}

button {
	height: 2.5rem;
	padding: 0 1rem 0 1rem;
	
	background-color: var(--color-primary);
	color: var(--color-light);

	border: none;
	border-radius: var(--radius);
	
	user-select: none;
}

button:hover {
	outline: var(--line-weight) solid var(--color-primary);
	background-color: var(--color-primary);
	color: var(--color-light);
	}

	button:active {
		outline: var(--line-weight) solid var(--color-primary);
		background-color: var(--color-light);
		color: var(--color-primary);
}

input {
	background-color: var(--color-light);
	color: var(--color-dark);

	border: none;
	box-shadow: 0 0 var(--line-weight) var(--color-dark);
	border-radius: var(--radius);

	height: 2.3rem;
	min-width: 2.5rem;
	margin: .1rem;
}

.dark > body {
	background-color: var(--color-dark);
	color: var(--color-light);
}

.round {
	border-radius: 50%;
	}

	.round button {
		width: 2rem;
		height: 2rem;
}

.container {
	margin: 0px;
	padding: 1rem min(10rem, 10%) 0px min(10rem, 10%);
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.s-gap {
	gap: .2rem;
}